:root {
    --primary-color: #C3B299;
    --secondary-color: #0D2149;
    --accent1-color: #FFFFFF;
    --accent2-color: #E6961D;
    --heading-font: Gruppo;
    --text-font: Baskervville;
    --page-max-width: 1280px;
    --form-max-width: 650px;
    --form-border-width: 1px;
    --form-border-style: solid;
    --form-background-color: #C3B1997A;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
}

header, main, footer {
    max-width: var(--page-max-width);
    margin: auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header {
    background-color: var(--primary-color);
    margin: 0 auto;
    padding: 0;
    height: 150px;
    display: grid;
	grid-template-columns: 150px 3fr;
	align-items: center;
	max-width: var(--page-max-width);
}

.logo_img {
    height: 150px;
    width: 150px;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav a {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1/7;
    grid-row: 1/3;
    width: 100%;
    height: auto;
}

.hero h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    top: 0px;
    width: 100%;
    color: var(--accent1-color);
    grid-column: 1/ span 6;
    grid-row: 1;
    height: 100px;
}

.hero a {
    grid-column: 1/ span 6;
    grid-row: 2;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    width: 14em;
    height: 2em;
    padding: 10px;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    border-radius: 0.5em;
    margin: 0 auto;
}

.trips_button {
    width: 20em !important;
    text-wrap: nowrap;
    align-self: self-end;
    grid-row: 1 !important;
}

.hero article {
    position: absolute;
    left: 60px;
    right: 60px;
    top: 150px;
    background-color: rgba(13,  33, 73, 0.8);
    padding: 1em;
    border: 1px solid var(--secondary-color);
}

.hero article p {
    color: var(--accent1-color);
    font-size: 1.2em;
    width: calc(100% - 145px);
    margin: 0;
    padding: 0;
}

.hero article img {
    width: 130px;
    height: auto;
    margin: 1em;
    position: relative;
    float: right;
}

.adventure_types_section {
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    max-width: var(--page-max-width);
    margin-top: 3em;
    padding: 0;
    gap: 20px;
}

.adventure_types_section h2 {
    grid-column: 1 / span 2;
    text-align: center;
    width: 100%;
    margin-bottom: 0.2em;
}

.adventure_type_title {
    padding: 0.4em;
    font-size: 1.5em;
    font-weight: 700;
    width: 100%;
}

.adventure_type_description {
    padding: 0.4em;
    font-size: 1em;
    font-weight: 200;
    width: 100%;
}

.adventure_types_section figure {
    margin: 0;
    width: 100%;
    height: 480px;
    border: var(--form-border-width) var(--form-border-style) var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

.adventure_types_section figure img {
   width: 100%; 
}

.adventure_types_section_figure_1 {
    grid-column: 1;
}

.adventure_types_section_figure_2 {
    grid-column: 2;
}

.popular_trips_section {
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    max-width: var(--page-max-width);
    margin-top: 3em;
    padding: 0;
    gap: 20px;
}

.popular_trips_section h2 {
    grid-column: 1 / span 3;
    text-align: center;
    width: 100%;
    margin-bottom: 0.2em;
}

.popular_trips_section figure {
    grid-row: 2;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 480px;
    border: var(--form-border-width) var(--form-border-style) var(--secondary-color);
}

.popular_trips_section figure figcaption {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 150px;   
}

.popular_trips_figure_1 {
    grid-column: 1;
}

.popular_trips_figure_2 {
    grid-column: 2;
}

.popular_trips_figure_3 {
    grid-column: 3;
}

.popular_trips_section figure img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.popular_trips_section figure .trip_name {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.popular_trips_section figure .trip_price {
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: .5em;    
}

.popular_trips_section figure .trip_body {
    font-weight: 200;
    font-size: 1em;
    margin-bottom: .5em;
}

.trip_list_table_section {
    grid-column: 1 / span 6;
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto;
}

.trip_list_table_section h2 {
    grid-column: 1 / span 3;
    text-align: center;
    width: 100%;
    margin-top: 3em;
}

.trip_list_table_section table {
    width: 90%;
    max-width: var(--page-max-width);
    padding: 10px;
    gap: 0px; 
    text-align: left; 
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.trip_list_table_section table tr:nth-child(even) {
    background-color: var(--form-background-color);
}

.trip_list_table_section table td, .trip_list_table_section table th {
    padding: 10px;
}

th {
    background-color: var(--primary-color);
    font-weight: 700;
}

.trip_length_col, .trip_cost_col {
    width: 5em;
}

.right_align_text {
    text-align: right;
}

.trip_difficulty_col, .trip_min_age_col {
    width: 7em;
}

.trip_name_col, .trip_requires_col {
    width: 14em;
}

.history_section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    max-width: var(--page-max-width);
    margin-top: 3em;
    padding: 0;
    gap: 0 25px;
}

.history_section h2 {
    grid-column: 1 / span 5;
    text-align: center;
}

.history_section p {
    grid-row: 2;
    margin: 0;
    padding: 0;
    align-self: self-start;
}

.history_section_p1 {
    grid-column: 1 / span 2;
}

.history_section_p2 {
    grid-column: 4 / span 2;
}

.history_section img {
    grid-column: 3;
    grid-row: 2;
    margin: 0;
    padding: 0;
    width: 300px;
    align-self: self-start;
}

.adventure_section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    max-width: var(--page-max-width);
    margin-top: 3em;
    padding: 0;
}

.adventure_section h2 {
    grid-column: 1 / span 5;
    text-align: center;
}

.adventure_section figure {
    grid-row: 2;
    margin: 0;
    padding: 0;
    width: 200px;
}

.adventure_section figure figcaption {
    margin: 0;
    padding: 0;
    width: 200px;    
}

.adventure_figure_1 {
    grid-column: 1;
}

.adventure_figure_2 {
    grid-column: 2;
}

.adventure_figure_3 {
    grid-column: 3;
}

.adventure_figure_4 {
    grid-column: 4;
}

.adventure_figure_5 {
    grid-column: 5;
}

.adventure_section figure img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}

main .employee_gallery_section {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.employee_gallery_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    max-width: var(--page-max-width);
    margin-top: 3em;
    padding: 0;
}

.employee_gallery_section h2 {
    grid-column: 1 / span 3;
    text-align: center;
}

.employee_gallery_section figure {
    grid-row: 2;
    margin: 0;
    padding: 0;
    width: 200px;
}

.employee_gallery_section figure figcaption {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    width: 200px;
    text-align: center;    
}

.employee_gallery_section {
    grid-column: 1;
}

.employee_gallery_section {
    grid-column: 2;
}

.employee_gallery_section {
    grid-column: 3;
}

.employee_gallery_section figure img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}

p {
    padding: 1em;
}

.contact_us_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
}

.contact_us_page_h1 {
    grid-column: 1 / span 2; 
    grid-row: 1; 
    text-align: center;
    margin-top: 2em;  
}

form {
    grid-column: 1;
    grid-row: 2 / span 2;
    margin: 0;
    max-width: var(--form-max-width);
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: var(--form-border-width) var(--form-border-style) var(--secondary-color);
    border-radius: 0.5rem;
    background-color: var(--form-background-color);
    display: grid;
}

fieldset {
    display: grid;
    margin-top: 0;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border: var(--form-border-width) var(--form-border-style) var(--secondary-color);
    grid-gap: 0.5rem;
    padding: 1rem;
}

legend {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 1.3rem;
    padding: 0.5rem;
    text-wrap: nowrap;
}

label, input, select, textarea {
    font-family: var(--heading-font) sans-serif;
    color: var(--secondary-color)
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, input[type="radio"], textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: center;
}

input[type="text"], input[type="email"]  {
    border: var(--form-border-width) var(--form-border-style) var(--secondary-color);    
}

.subscription_checkbox_label {
    padding-left: 0.1em;
    line-height: 22px;
}

button {
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    width: 200px;
    height: 60px;
    padding: 1rem;
    border: var(--form-border-width) var(--form-border-style) var(--secondary-color);
    border-radius: 0.5rem;
    margin: 2em auto 0 auto;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--accent1-color);
    color: var(--secondary-color);    
}

.office_information_section {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
}

.office_information_section h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 20px;
}

.office_information_section p {
    height: 50px;
    grid-row: 2;
}

.office_information_street_address {
    grid-column: 1;
}

.office_information_contact_info {
    grid-column: 2;
}

.google_map {
    grid-column: 2;
    grid-row: 3;
    height: 596px;
}


footer {
    margin-top: 5em;
    display: grid;
    grid-template-columns: auto 150px;
    align-items: center;
    justify-self: center;
    background-color: var(--primary-color);
}

footer p {
    text-align: center;
}

footer a {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    text-decoration: none;
    text-align: center;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks a img {
    width: 50px;
    height: 50px;
}