:root {
    --primary-theme-color: darkblue;
    --default-border-width: 1px;
    --default-border-style: solid;
    --default-border-color: black;
    --default-image-height: auto;
    --default-margin-and-padding: 1rem;
}

nav {
    background-color: var(--primary-theme-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-theme-color);
}

main img {
    width: 150px;
    height: var(--default-image-height);
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--default-margin-and-padding);
    border: var(--default-border-width) var(--default-border-style) rgba(0, 0, 0, 0.2);
    padding: var(--default-margin-and-padding);
    background-color: #eee;
    color: #333;
}

aside img {
    width: 200px;
    height: var(--default-image-height);
}

footer {
    margin-top: 15px;
    border-top: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    text-align: center;
}