* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-theme-color: darkblue;
    --primary-theme-color-monochromatic-match: #0000BE;
    --default-border-width: 1px;
    --default-border-style: solid;
    --default-border-color: black;
    --default-image-height: auto;
    --default-margin-and-padding: 1rem;
    --primary-theme-text-color: white;
    --byu-theme-blue: #002d60;
    --byu-theme-new-link: white;
    --byu-theme-visited-link: #9BCAFF;
    --byu-theme-bullet-color: #001832;
    --secondary-theme-text-color: black;
}

nav {
    background-color: var(--primary-theme-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--primary-theme-text-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: var(--primary-theme-text-color);
    background-color: transparent;
    text-decoration: none;
}

h1 {
    color: var(--primary-theme-color);
    border-bottom: var(--default-border-width) var(--default-border-style) var(--primary-theme-color);
    padding: 1rem;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: var(--default-image-height);
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;
}

aside {
    position: relative;
    width: 20rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside h2 {
    position: absolute;
    left: 20px;
    top: 15px;
}

aside img {
    width: 200px;
    height: var(--default-image-height);
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}

a:link {
    color: var(--byu-theme-new-link);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--byu-theme-visited-link);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

li::marker {
    color: var(--byu-theme-bullet-color);
}

/* Class Selectors */

.box {
    margin: var(--default-margin-and-padding);
    border: var(--default-border-width) var(--default-border-style) rgba(0,0,0,.1);
    padding: var(--default-margin-and-padding);
    background-color: var(--byu-theme-blue);
    color: var(--primary-theme-text-color);
}